body{
  height: 100%;
  background-color:olivedrab;
}

#form{
  padding: 50px;
  position: fixed; top: 50%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #ebc2af;
  font-size: large;
  font-family: Arial;
  background-color: rgb(108, 168, 47);
  border-radius: 19px;
}

.inp{
  background-color: rgb(108, 168, 47);
  border-bottom: solid 2px rgb(253, 148, 28);
  border-top: none;
  border-right: none;
  border-left: none;
}

table{
  border-spacing: 11px 11px;
  text-align: center;
}

input {
  font-size: large;
  color: burlywood;
  text-align: center;
  left: 25%;
  outline: none;
}

select{
  background-color: rgb(108, 168, 47);
  color: #ebc2af;
  outline: none;
  border: none;
}

.button{
  text-align: center;
}

#sub{
  background-color: #ebc2af;
  border: solid 1px #ebc2af;
  color: rgb(110, 110, 2);
  border-radius: 8px;
}

#sub:hover{
  background-color: rgb(85, 85, 1);
  border: solid 1px rgb(85, 85, 1);
  color: #ebc2af;
  border-radius: 8px;
}

::placeholder{
  color: burlywood;
  font-style: italic;
}