table{
  position: relative;
  width: 80%;
  left: 50%;
  transform: translate(-40%, 0%);
}

td{
  vertical-align: bottom;
}

.color{
  width: 100%;
  height: 100%;
  background-color: white;
}

:host{
  --slds-c-input-color-border: rgb(100, 100, 100);

  --lwc-formLabelFontSize: 1rem;
  --lwc-colorTextLabel: black;
}

lightning-button-group{
  width: 20%;
  display: block;
  position: fixed;
  top: 93%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.pageControlls{
  margin-left: 20%;
  margin-right: 20%;
}

.result{
  display: block;
  width: 50%;
  position: relative;
  top: 10%;
  left: 50%;
  transform: translate(-20%, 0%);
}

.opps{
  position: relative;
  left: -50%;
  transform: translate(40%, 0%);
}